
.main-content{
    margin: 0px 16px;
    margin-bottom: 30px;
}


.menu-page-title{
    display: flex;
    justify-content: space-between;
}


.arrow{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #5100FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 7px;
}

.menu-page-title p{
    font-family: "Bicubik";
    font-size: 30px;
    text-align: right;
}


