{% extends "menu-pages-base.html" %}

{% block menu_page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu-pages/napravlenia.css') }}">
{% endblock %}

{% block menu_page_title %}НАПРАВЛЕНИЯ{% endblock %}


{%block main_content%}
    <div class="text-part">
        <p class="sub-title">⚡ ИНЖЕНЕРНОЕ ДЕЛО, ТЕХНОЛОГИИ И ТЕХНИЧЕСКИЕ НАУКИ</p>
        <ul>
            <li>✦ Архитектура</li>
            <li>✦ Строительство</li>
            <li>✦ Информатика и вычислительная техника</li>
            <li>✦ Информационная безопасность</li>
            <li>✦ Математика и механика</li>
            <li>✦ Биотехнические системы и технологии</li>
            <li>✦ Теплоэнергетика и теплотехника</li>
            <li>✦ Электроэнергетика и электротехника</li>
            <li>✦ Машиностроение</li>
            <li>✦ Автоматизация технологических процессов и производств</li>
            <li>✦ Конструкторско-технологическое обеспечение машиностроительных производств</li>
            <li>✦ Материаловедение и технологии материалов</li>
            <li>✦ Металлургия</li>
            <li>✦ Технологии транспортных процессов</li>
            <li>✦ Наземные транспортно-технологические средства</li>
            <li>✦ Наземные транспортно-технологические комплексы</li>
            <li>✦ Эксплуатация железных дорог</li>
            <li>✦ Наноинженерия</li>
            <li>✦ Металлообрабатывающие станки и комплексы</li>
            <li>✦ Проектирование технологических машин и комплексов</li>
        </ul>
    </div>
    <div class="text-part">
        <p class="sub-title">👨‍💼НАУКИ ОБ ОБЩЕСТВЕ 👨‍💼 </p>
        <ul>
            <li>✦ Экономика</li>
            <li>✦ Менеджмент</li>
            <li>✦ Управление персоналом</li>
            <li>✦ Финансы и кредит</li>
            <li>✦ Государственный аудит</li>
            <li>✦ Социальная работа</li>
            <li>✦ Туризм</li>
        </ul>
    </div>
    <div class="text-part">
        <p class="sub-title">📓 ГУМАНИТАРНЫЕ НАУКИ 📓</p>
        <ul>
            <li>✦ Лингвистика</li>
        </ul>
    </div>
{% endblock %}