{% extends "menu-pages-base.html" %}

{% block menu_page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu-pages/obshejitie.css') }}">
{% endblock %}


{% block menu_page_title %}ОБЩЕЖИТИЕ{% endblock %}

{%block main_content%}
<div class="images-grid">
    {% for image_name in image_names %}
    <img class="images-grid-item" src="{{ url_for('static', filename='img/menu_pages/obshejitie/' + image_name ) }}" alt="">
    {% endfor %}
</div>
<div class="text">
    <p>
      🔥 Студенческие общежития Приазовского государственного технического
      университета – это два девятиэтажных зданий секционного типа, расположенные
      в 500 м от университета по адресу – ул. Итальянская, 138 и 140.
    </p>
  
    <p>
      ⚡ В 2022-2023 произведен капитальный ремонт зданий общежитий ПГТУ. За год был
      проведен ряд работ: замена электротехнического оборудования, сантехники,
      отопительной системы. Установлены новые окна и двери, произведен ремонт
      стен. Общежитие оборудовано новой мебелью и бытовой техникой
    </p>
    <p>
      💥 На каждом этаже расположены 4 жилых секции и учебный холл. Секция имеет 4
      комнаты, места общего пользования (2 туалета, 1 душ, умывальник, стиральные
      машины). На кухне установлены электрические плиты для самостоятельного
      приготовления пищи Все комнаты оборудованы сетью Internet Система
      центрального отопления обеспечивает требуемый температурный режим в зимний
      период Общежития снабжены системой противопожарной сигнализации.
    </p>
  </div>
{% endblock %}