{% extends "menu-pages-base.html" %}

{% block menu_page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu-pages/postuplenie.css') }}">
{% endblock %}

{% block menu_page_title %}ПОСТУПЛЕНИЕ{% endblock %}

{%block main_content%}
    <div class="text">
        <p>
            👨🏻‍💻 При поступлении на обучение в ФГБОУ ВО «ПГТУ» в 2024/2025 учебном году не реализуется подача документов, необходимых для поступления, с использованием супер-сервиса «Поступление в ВУЗ онлайн» посредством федеральной государственной информационной системы «Единый портал государственных и муниципальных услуг (функций)»
        </p>
    </div>
    <div class="images">
        {% for image_name in image_names %}
        <img
            src="{{ url_for('static', filename='img/menu_pages/postuplenie/' + image_name) }}"
            alt=""
        />
        {% endfor %}
    </div>
{% endblock %}