<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header-content">
            <div class="search-bar">

            </div>
        </div>
    </header>
    <main>
        <div class="main-content">
            <div class="grid-container">
                {% for grid_item in grid_items%}
                <div class="grid-item">
                    <img src="{{ url_for('static', filename='img/menu/' + grid_item) }}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>