{% extends "base.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/menu.css') }}"
/>
{% endblock %} {% block main %}
<div class="main-content">
  <div class="grid-container">
    {% for menu_item in menu_items %}
    <div class="grid-item">
      <button id="{{ menu_item }}" onclick="goToMenuPage(this.id)">
        <img
          src="{{ url_for('static', filename='img/menu/'+ menu_item + '.png') }}"
          alt=""
        />
      </button>
    </div>
    {% endfor %} {% for menu_social_name, menu_social_link in
    menu_socials.items() %}
    <div class="grid-item">
      <a href="{{ menu_social_link }}">
        <img
          src="{{ url_for('static', filename='img/menu/' + menu_social_name + '.png') }}"
          alt=""
        />
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block footer %}
<div class="footer-content">
  <button class="developer-button" onclick="showDevelopers();">
    <div class="developers-container">
      <p>РАЗРАБОТЧИКИ</p>
    </div>
  </button>
</div>

<div style="display: none;" class="developers-window" id="developers-window">
  <div class="developers-showing-window">
    <section class="section-head">
      <div class="close-window" id="close-developers-window">X</div>
    </section>
    <section class="section-body">
      <div class="text">
        <p>Пока в разработке.</p>
      </div>
    </section>
  </div>
</div>

<script>
  function goToMenuPage(buttonId) {
    let url = "/menu/" + buttonId;
    window.location.href = url;
  }
</script>
<script>
  const DEVELOPERS_WINDOW = document.getElementById("developers-window");

  function showDevelopers() {
    //change to display = block for working 'show developers window' 
    DEVELOPERS_WINDOW.style.display = "none";
  }

  const CLOSE_DEVELOPERS_WINDOW = document.getElementById(
    "close-developers-window"
  );
  CLOSE_DEVELOPERS_WINDOW.addEventListener("click", () =>
    closeDevelopersWindow()
  );

  function closeDevelopersWindow() {
    DEVELOPERS_WINDOW.style.display = "none";
  }
</script>
{% endblock %}
