{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
{% endblock %}

{% block main %}
<div class="main-content">
    <div class="grid-container">
        <div class="grid-item"><a href="{{url_for('napravlenia')}}"><img
                    src="{{ url_for('static', filename='img/menu/napravlenia.png') }}" alt="">
                <p>НАПРАВЛЕНИЯ</p>
            </a>
        </div>
        <div class="grid-item"><a href="{{url_for('stoimost')}}"><img
                    src="{{ url_for('static', filename='img/menu/stoimost.png') }}" alt="">
                <p>СТОИМОСТ<br>ОБУЧЕНИЯ</p></a></div>
        <div class="grid-item"><a href="{{url_for('obshejitie')}}"><img
                    src="{{ url_for('static', filename='img/menu/obshejitie.png') }}" alt="">
                <p>ОБЩЕЖИТИЕ</p></a></div>
        <div class="grid-item"><a href="{{url_for('contacti')}}"><img
                    src="{{ url_for('static', filename='img/menu/contacti.png') }}" alt="">
                <p>КОНТАКТЫ</p></a></div>
        <div class="grid-item"><a href="{{url_for('anketi')}}"><img
                    src="{{ url_for('static', filename='img/menu/anketi.png') }}" alt="">
                <p>АНКЕТЫ</p></a></div>
        <div class="grid-item"><a href="{{url_for('eksameni')}}"><img
                    src="{{ url_for('static', filename='img/menu/eksameni.png') }}" alt="">
                <p>ЭКЗАМЕНЫ</p></a></div>
        <div class="grid-item"><a href="{{url_for('postuplenie')}}"><img
                    src="{{ url_for('static', filename='img/menu/postuplenie.png') }}" alt="">
                <p>ПОСТУПЛЕНИЕ</p></a></div>
        <div class="grid-item"><a href="{{url_for('ligoti')}}"><img
                    src="{{ url_for('static', filename='img/menu/ligoti.png') }}" alt="">
                <p>ЛЬГОТЫ</p></a></div>
        <div class="grid-item"><a href="{{url_for('o_vuse')}}"><img
                    src="{{ url_for('static', filename='img/menu/o_vuse.png') }}" alt="">
                <p>О ВУЗЕ</p></a></div>
        <div class="grid-item"><a href="https://vk.ru"><img src="{{ url_for('static', filename='img/menu/vk.png') }}"
                    alt=""></a></div>
        <div class="grid-item"><a href="https://wikipedia.com"><img
                    src="{{ url_for('static', filename='img/menu/wikipedia.png') }}" alt=""></a></div>
        <div class="grid-item"><a href="https://t.me"><img
                    src="{{ url_for('static', filename='img/menu/telegram.png') }}" alt=""></a></div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="footer-content">
    <div class="developers-container">
        <a href="#">
            <p>РАЗРАБОТЧИКИ</p>
        </a>
    </div>
</div>
{% endblock %}